.app{
  
    display: flex;
    flex-direction: column;
    /* background-color: aquamarine; */
    
  }
  
  .section--1{
    padding-inline: 10rem;
    padding-top: 2rem;
    background-color: #FFF1DE;
  
  }
  
  .hero{
  
    padding-top: 4rem;
    background-color: #FFF1DE;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  
  
  
  
  .hero--image{
    height: 26em;
  }
  .hero--text{
    width: 45%;
  }
  
  .title{
    font-size: 2.2rem;
  }
  
  .section--2{
    text-align: center;
    padding-inline: 10rem;
    padding-top: 2rem;
  }
  
  
  .logo {
    height: 6em;
  }
  
  .grid-container {
    display: grid;
    gap: 3rem;
    grid-template-columns: auto auto auto;
    padding: 3rem;
    row-gap: 3rem;
  }

  footer{
    background-color: grey;
    text-align: center;
    padding: .1rem;
  }
  
  footer p{
    color: rgb(255, 255, 255);
  }
  
